{% extends 'base.html' %} 

{% block content %}
{% load static %}
{% include 'navbar.html' %}

<div class="mx-10 mt-10 mb-10 bg-amber-50 rounded-xl border-4 border-amber-900">
    <h1 class="bg-cyan-300 m w-full text-center rounded-lg lg border-b-4 border-amber-900">Profile</h1>
    <div class="flex justify-center mx-10">
        <div>
                <img class="object-contain h-48 w-96" src="{% static 'img/test.jpg' %}" alt="profile photo">
        </div>
        <div>
            <p>{{ user.first_name }}</p>
        
            <p>{{ user.last_name }}</p>
            
            <p>{{ user.username }}</p>
            
            <p>{{ user.email }}</p>
            
            <p>{{ user.date_of_birth }}</p>  
        </div>
    </div>
    <div class="flex justify-center">
        <a href="#">Edit Profile</a>
        <a href="#">Change Password</a>
    </div>

</div>

{% for book in books %}
<p>{{ book.title }}</p>
{% endfor %}

{% endblock %}