{% extends 'base.html' %} 
{% load static %}

{% block content %}
{% include 'navbar.html' %}

<div class="mx-20 my-10 rounded-xl border-4" style="background-color: #FEFADD; border-color: #724E2B;">
    <h1 class="w-full text-center rounded-lg lg border-b-4 py-6 text-4xl" style="font-family: 'Darumadrop One'; color: #FEFADD; background-color: #89C8C5; border-color: #724E2B;">
        Profile
    </h1>
    <div class="flex justify-center my-10">
        <div class="border-4 rounded w-25 h-25 px-20" style="background-color: #DBBC7F; border-color: #724E2B; color: #DBBC7F;">
            .
        </div>
        <div class="ml-10" style="font-family: 'Mochiy Pop P One';">
            <div class="mb-5">
                <p class="text-sm">Name</p>
                <p class="text-xl">{{ user.first_name }} {{ user.last_name }}</p>
            </div>

            <div class="my-5">
                <p class="text-sm">Username</p>
                <p class="text-xl">{{ user.username }}</p>
            </div>
            
            <div class="my-5">
                <p class="text-sm">Date of Birth</p>
                <p class="text-xl">{{ user.date_of_birth }}</p>  
            </div>

            <div class="mt-5">
                <p class="text-sm">E-mail</p>
                <p class="text-xl">{{ user.email }}</p>
            </div>
        </div>
    </div>
    <div class="flex justify-center my-10" style="font-family: 'Mochiy Pop P One'; color: #724E2B;">
        <a class="border-2 rounded mx-5 p-2" style="border-color: #724E2B;" href="#">Edit Profile</a>
        <a class="border-2 rounded mx-5 p-2" style="border-color: #724E2B;" href="#">Change Password</a>
    </div>

</div>

{% for book in books %}
<p>{{ book.title }}</p>
{% endfor %}

{% endblock %}